body {
    background-color: #efefef;
    background-image: url("https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2282656014,3971392335&fm=26&gp=0.jpg");

}

.main {
    margin: 40px 200px;
    background-color: #fff;
    box-shadow: 6px 6px 10px grey;
    min-height: 580px;
    border-radius: 4px;
}
.main a {
    text-decoration: none;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.dropdown {
    margin-top: 0;
}


.media-object {
    width: 43px;
    height: 43px;
}
.headline {
    font-size: 21px;
}
.profile-headline {
    font-size: 21px;
    margin-top: 1px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    font-size: 16px;
    color: #999;
    margin-bottom: 15px;
    margin-left: 26px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    border: 1px solid #eee;
    margin-top: 10px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn{
    margin: 10px 0;
}


.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.question-title {
    margin-top: 25px;
}

.question-tag{
    margin-right: 5px;
    background-color: #E91E63;
}

.question-related{
    line-height: 20px;
    font-size: 12px;
    list-style: none;
    padding-left: 0;
}

.question-wechat{
    width: 60%;
}

.publish-tag-tab{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    display: inline-block;
    background-color: #E91E63;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 8px;
}
.label-info {
    background-color: #E91E63;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 8px;

}
.answerNum {
    margin-left: 1px;
}
.footer{
    padding: 10px 30% ;
    color: #666;
}
.btn-delete {
    margin-left: 1px;
    font-size: 1px;
}
.Log-style {
    margin-top: 15px;
    margin-right: -90px;
}
.Log-style a {
    color: #777;
    text-decoration: none;
}
.question-AliLogo .question_ali_icon {
    font-size: 25px;
}
.question-AliLogo {
    margin-top: 11px;
}
.question-history {
    padding: 15px;
    margin-top: -15px;
}
.history-head {
    margin-top: -1px;
}
.glyphicon-hourglass {
    font-size: 17px;
}
.glyphicon-grain {
    font-size: 17px;
}
.Log-font {
    margin-right: 11px;
}
.AliLogo-box {
    margin-top: 15px;
    margin-right: 18px;
}
.AliLogo-box .navbar_ali_icon {
    font-size: 20px ;
}
.AliLogo-box a {
    color: #777;
    text-decoration: none;
}

.page-left {
    border-right: 1px solid #D2D2D2;
}
.page-right-line {
    width: 88%;
}
.page-left .index_ali_icon{
    font-size: 22px;
}
.top-nav {
    padding-left: 185px;
    padding-right: 170px;
    margin-bottom: 0;
}
.community-name {
    font-size: 25px;
    font-style: italic;
}
.login-page {
    width: 714px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}
.question_info {
    float: right;
}
.person {
    background-color: #eee;
}

.person-info-image {
    background-image: url("http://cdn.wenmrong.com/black.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
}

.person-info-main {
    width: 100%;
    margin-bottom: 20px;
}

.person-info {
    display: flex;
    margin: 0 20px 24px;
}

.person-avatar {
    margin-top: -25px;
}

.person-avatar img {
    width: 160px;
    height: 160px;
}

.person-content {
    margin: 10px 30px;
}
.history_label_info {
    background-color: black;
    font-size: 11px;
    margin-right: 1px;
    margin-top: 8px;
}
.history_tag_style {
    color: white;

}
.profile_form {
    margin-left: 11px;
}
.hot_question_logo {
    color: #E91E63;
}