<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>

    </head>
<body>

<div th:fragment="nav">
    <nav class="navbar navbar-default top-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">我的社区</span>
                </button>
                <a class="navbar-brand community-name" href="/">我的社区</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user!=null}">
                        <div class="AliLogo-box">
                            <i class="iconfont icon-fabu navbar_ali_icon"></i>
                            <a href="/publish">发帖</a>
                        </div>
                    </li>
                    <li th:if="${session.user!= null}">
                        <div class="AliLogo-box">
                            <i class="iconfont icon-youjian navbar_ali_icon"></i>
                            <a href="/profile/replies" th:if="${session.user != null}">通知
                                <span class="badge">
                                    <span th:text="${session.unreadCount}"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="dropdown" th:if="${session.user!=null}">
                        <div class="AliLogo-box">
                            <i class="iconfont icon-heike navbar_ali_icon"></i>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span th:text="${session.user.getName()}"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/questions">我的帖子</a></li>
                                <li><a href="/modifyProfile">修改资料</a></li>
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </div>
                    </li>
<!--                    <li th:if="${session.user==null}">-->
<!--                        <a-->
<!--                                th:href="@{https://github.com/login/oauth/authorize(client_id='a6234be2fb9304726971',redirect_uri=${#httpServletRequest.getServletContext().getAttribute('redirectUri')},scope='user',state=1)}"-->
<!--                                >登录</a></li>-->
                    <div class="Log-style">
                        <li th:if="${session.user == null}">
                            <a href="/login ">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </a>
<!--                            <a  style="text-decoration:none;" th:href="@{https://github.com/login/oauth/authorize(client_id='a6234be2fb9304726971',redirect_uri=${#httpServletRequest.getServletContext().getAttribute('redirectUri')},scope='user',state=1)}">登录</a>-->
                            <a class="Log-font" style="text-decoration:none;" href="/login">登录</a>
                            <a href="/loginByQQ">
                                <img class="logo" src="/images/QQ.jpg">

                            </a>
                        </li>
                    </div>

                    <!--&lt;!&ndash;                    &redirect_uri=http://localhost:8887/callback&scope=user&state=1&ndash;&gt;-->
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>

</html>

